.content {
  display: flex;
  flex-direction: column; /* Padrão: row */
  padding: clamp(50px, 10%, 160px) 8px 0;

  align-items: center;

  /* Consome todo o espaço disponivel 
  [html + body devem ter 100% de altura e serem flex direction] */
  flex: 1;
}

.content__logo {
  height: clamp(80px, 25vw, 180px);
}

.content__search {
  margin-top: 18px;
  width: clamp(280px, 90%, 800px);
  padding: 10px 20px; /* Top Right Bottom Left */
  font-size: 18px;

  color: #313131;
  background: transparent;
  border-radius: 25px;
  border: 1px solid #dadce0;

  outline: 0;
}

.content__search:focus {
  border: 1px solid #b4b4b4;
}

.content__offer {
  margin-top: 24px;
  font-size: 13px;
  padding: 6px 12px;
}

.content__offer a {
  text-decoration: none;
  color: #4285f4;
}
